<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Congrats {{user.first_name}}!  You've logged in</h1>
    <a href="/logout">logout</a>
    <a href="/create_page">make a wish</a>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}

    <h1>our wishes</h1>
    <table>
        <tr>
            <th>item</th>
            <th>date added</th>
            <th>actions</th>
        </tr>
        <!-- {% for wish in user.wishes_owned.all %} -->
        {% if user not in wish.granted_wishes.all %}
        <tr>
            <td>{{wish.name}}</td>
            <td>{{wish.created_at}}</td>
            <td>
                <form action="/wish/remove/{{wish.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete {{wish.name}}">
                </form> |
                {% if user not in wish.granted_wishes.all %}
                <form action="/wishes/grant/{{wish.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="granted!">
                </form>
                <!-- {% else %} -->
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <!-- {% endfor %} -->
    </table>

    
<!--     <h2>granted wishes</h2>
    <table>
        <tr>
            <td>item</td>
            <td>wisher</td>
            <td>date added</td>
            <td>date granted</td>
            <td>likes</td>
            <td>action</td>
        </tr>
        {% for wish in user.wishes_granted.all %}
        <tr>
            <td>{{wish.name}}</td>
            <td>{{user.first_name}}</td>
            <td>{{wish.created_at}}</td>
            <td>{{wish.updated_at}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table> -->

    <h2>granted wishes only</h2>
     <table>
        <tr>
            <td>item</td>
            <td>wisher</td>
            <td>date added</td>
            <td>date granted</td>
            <td>likes</td>
            <td>action</td>
        </tr>
        {% for wish in my_wishes %}
        <tr>
            <td>{{wish.name}}</td>
            <td>{{wish.user.first_name}}</td> 
            <td>{{wish.created_at}}</td>
            <td>{{wish.updated_at}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}

        {% for wish in not_my_wishes %}
        <tr>
            <td>{{wish.name}}</td>
            <td>{{wish.user.first_name}}</td> 
            <td>{{wish.created_at}}</td>
            <td>{{wish.updated_at}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}

    </table>


 



</body>
</html>