<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

    <h1>Congrats <a href="/user">{{user.first_name}}</a>!  You've logged in</h1>

    <a href="/logout">logout</a>

    <h1>submit a koala for the contest!</h1>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}


    <form action="/koalas/create" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="koala_name">
        Talent: <input type="text" name="talent">
        <input type="submit" value="Submit Koala">
    </form>
    <a href="/voting">Voting Page</a>
    <h1>our koalas</h1>
    <table>
        <tr>
            <th>name</th>
            <th>talent</th>
            <th>owner</th>
            <th>actions</th>
        </tr>
        {% for koala in user.koalas_owned.all %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.talent}}</td>
            <td>{{koala.user.first_name}}</td>
            <td>
                <form action="/koala/destroy/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete {{koala.name}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


  <!--   <h1>not our koalas</h1>
    <table>
        <tr>
            <th>name</th>
            <th>talent</th>
            <th>owner</th>
            <th>actions</th>
        </tr>
        {% for koala in all_koalas %}
            EITHER ONE - {% if koala not in user.koalas_owned.all %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.talent}}</td>
            <td>{{koala.user.first_name}}</td>
            <td></td>
        </tr>
            {% endif %}
        {% endfor %}
    </table> -->

    <h1>everyone's koalas</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Talent</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
        {% for koala in all_koalas %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.talent}}</td>
            <td>{{koala.user.first_name}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>