<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koala Profile</title>
</head>
<body>
    <h1>Name: {{koala.name}}</h1>
    <h2>Talent: {{koala.talent}}</h2>
    <h2>Owner's Name: {{koala.user.first_name}}</h2>
    <a href="/main_page">home</a>
    <h2>users tha voted for {{koala.name}}</h2>
    <ul>
        {% for one_user in koala.users.votes.all %}
        <li>{{one_user.name}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>