<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
</head>
<body>
    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}

    <h1>Name: {{user.first_name}}</h1>
    <h2>Email: {{user.email}}</h2>
    <h2>Koalas Owned:</h2>

    <ul>{% for koala in user.koalas_owned.all %}
        <li><a href="/koala/show/{{koala.id}}">{{koala.name}}</a></li>
        {% endfor %}
    </ul>
    <h2>koalas voted for:</h2>
    <ul>{% for koala in user.voted_koalas.all %}
        <li><a href="/koala/show/{{koala.id}}">{{koala.name}}</a></li>
        {% endfor %}
    </ul>

    
</body>
</html>