<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voting page</title>
</head>
<body>
    <h1>voting page</h1>
    <a href="/main_page">home</a>
    <h1>koalas you've voted for</h1>
    <table>
        <tr>
            <td>name</td>
            <td># of votes</td>
            <td>actions</td>
        </tr>
        {% for koala in user.voted_koalas.all %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.users_votes.count}} votes</td>
            <td>
                {% if user not in koala.users_votes.all %}
                <form action="/koalas/cast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="vote for {{koala.name}}">
                </form>
                {% else %}
                <form action="/koalas/uncast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="unvote for {{koala.name}}">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    <h1>koalas you haven't voted for</h1>
    <table>
        <tr>
            <td>name</td>
            <td># of votes</td>
            <td>actions</td>
        </tr>
        {% for koala in all_koalas %}
        {% if user not in koala.users_votes.all %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.users_votes.count}} votes</td>
            <td>
                {% if user not in koala.users_votes.all %}
                <form action="/koalas/cast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="vote for {{koala.name}}">
                </form>
                {% else %}
                <form action="/koalas/uncast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="unvote for {{koala.name}}">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


<!--     <h1>orginal koala voting cycle</h1>
    <table>
        <tr>
            <td>name</td>
            <td># of votes</td>
            <td>actions</td>
        </tr>
        {% for koala in all_koalas %}
        <tr>
            <td>{{koala.name}}</td>
            <td>{{koala.users_votes.count}} votes</td>
            <td>
                {% if user not in koala.users_votes.all %}
                <form action="/koalas/cast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="vote for {{koala.name}}">
                </form>
                {% else %}
                <form action="/koalas/uncast_vote/{{koala.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="unvote for {{koala.name}}">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

 -->

</body>
</html>