<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>{{edit_mess.poster.first_name}}, you are on the edit page</h1>
    <form action="/edit/{{edit_mess.id}}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="{{edit_mess.content}}">
        <input type="submit" value="Edit">
    </form>
</body>
</html>