<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Congrats {{user.first_name}}!  You've logged in</h1>
    <a href="/logout">logout</a>
    
    <form action="/create_message" method="POST">
        {% csrf_token %}
        <textarea rows="4" cols="50" name="content">what are you thinking?</textarea>
        <input type="submit" value="Post">
    </form>

<div id="messages">
    {% for one_mess in all_messages %}
    <div class="message">
        <a href="/profile/{{one_mess.poster.id}}"><h6>{{one_mess.poster.first_name}} {{one_mess.poster.last_name}}</h6></a>
        <p>{{one_mess.content}}</p>
        <p>{{one_mess.created_at}}</p>
        {% if request.session.user_id == one_mess.poster.id %}
        <p><a href="/edit/{{one_mess.id}}">edit</a> | <a href="/delete/{{one_mess.id}}">delete</a></p>
        {% endif %}
    </div>
    {% endfor %}
</div>


</body>
</html>