<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>{{one_user.first_name}} {{one_user.last_name}}'s profile</h1>
    <a href="/main_page">go home</a>

    <h2>Their Posts:</h2>
    <ul>
        {% for one_mess in one_user.messages.all %}
        <p>{{one_mess.content}}</p>
        <p>{{one_mess.created_at}}</p>
        <a href="/edit">edit</a> | <a href="/delete">delete</a>
        {% endfor %}
    </ul>
    
</body>
</html>